@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@import "tailwindcss";

body {
  font-family: "Questrial", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
