@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Questrial&display=swap");

@import "tailwindcss";

body {
  font-family: "Questrial", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.bangla-font {
  font-family: "Anek Bangla", sans-serif;
}
